body {
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -500px;
  transition: 850ms;
}
.sidebar.active {
  right: 0;
  transition: 350ms;
}

/* //colors */
.text {
  color: rgb(70, 70, 70);
}

.slick-dots {
  bottom: -50px;
}

.custom_container {
  width: 980px !important;
  margin: 0 auto !important;
}

@media screen and (min-width: 399.99px) {
  .sidepanel_ul {
    display: flex !important;
    flex-direction: row !important;
  }
  .userpanel_col2 {
    position: absolute !important;
    width: 100vw;
    height: 100vh;
    top: 50%;
  }
}

@media screen and (max-width: 400px) {
  .userpanel_col2 {
    position: absolute !important;
    width: 100vw;
    height: 100vh;
    top: 50%;
  }
}

.focusInput:focus {
  border: 3px solid green !important;
}
